/* General container */
.ourServices{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    padding: 5% 0 3% 0;
}

/* Paint bucket div */
.bucketImage{
    background-image: url("../../media/images/servicesImage.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

/* Text area */
.ourServicesText{
    background-color: rgb(50, 48, 49);
    text-align: left;
    color: white;
    padding: 5% 0 0 5%;
}

.ourServicesTitle{
    font-family: 'Outfit', 'sans-serif';
    font-size: xx-large;
    user-select: none;
}

