.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sectionNavigation{
  padding-top: 12%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  header{
    display: none;
  }

  .App{
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .sectionNavigation{
    padding-top: 0;
  }

}

@media (max-width: 767px) {
  .sectionNavigation{
    margin-top: 0%;
  }
}