.App {
  text-align: center;
  height: 80vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Full navbar container */
.navbar{
  position: sticky;
  top: 0;
  z-index: 1;
  height: 25%;
  width: 100%;
}

footer{
  display: none;
}

@media (max-width: 480px) {
  header{
    display: none;
  }

  footer{
    display: flex;
  }

}
  