.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Full navbar container */
.navbar{
  position: sticky;
  top: 0;
  z-index: 1;
  height: 25%;
  width: 100%;
}

footer{
  display: none;
}

.sectionNavigation{
  padding-top: 20%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  header{
    display: none;
  }

  .App{
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

}
  