.ourWork{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    height: 100%;
    width: 100%;
    padding: 1% 5% 5% 5%;
    row-gap: 5%;
    font-family: 'Outfit', 'sans-serif';
}

/* Gallery header */
.galleryHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: rgb(50, 48, 49);
}

.arrowStyling{
    font-weight: bold;
    margin: 0 2% 0 2%;
    cursor: pointer;
    transition: all 0.5s;
}

.arrowStyling:hover{
    color: rgb(151, 145, 148);
}


/* Image Gallery */
.projectGallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1%;
    row-gap: 1%;
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}

.projectImage:hover{
    filter: brightness(100%);
}


@media (max-width: 767px) {

    .ourWork{
        padding-top: 10%;
        grid-template-rows: .05fr 1fr;
    }
    
}



/* Mobile */

@media (max-width: 480px) {

    .ourWork{
        padding-top: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .1fr 1fr;
        padding-top: 5%;
        height: 100%;
        width: 100%;
        row-gap: 0;
    }


    .projectGallery{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        column-gap: 0%;
        row-gap: 1%;
        width: 100%;
        height: auto;
        padding-bottom: 5%;
        overflow: scroll;
    }
}